pandas
numpy
seaborn
scikit-learn
catboost
xgboost
dill
# -e .

  
# this will automatically install the package by triggering the setup.py file in the current directory


# all you need to run this command and it will automatically run the setup.py file:
# pip install -r requirements.txt